<%= request.location.city %>
<div class="container" id="frontpage-main-container">
    <!-- devise sign up/sign in buttons -->
    <% unless user_signed_in? %>
        <%= render 'components/sign-in-buttons' %>
    <% end %>
    <!-- custom navbar that I created just for the front page -->
    <%= render 'components/custom-navbar' %>
    <!-- render the mouse animation -->
    <%= render 'components/mouse-animation' %>
    <!-- section one of front page, with title and search -->
    <section id="section-one">
        <%= render 'components/section-one-div' %>
    </section>
    <!-- section two of front page, with the introduction to the site -->
    <!-- TO DO: Use Bootstrap scrollspy to identify where the view is -->
    <section id="section-two">
        <%= render 'components/section-two-div' %>
    </section>
    <section id="section-three">
        <%= render 'components/section-three-div' %>
    </section>
    <section id="section-four">
        <%= render 'components/section-four-div' %>
    </section>
</div>