<div id="banner-and-map">
    <div id="banner-banner">
        <div id='banner-caption-div'>
            <div class="banner-caption">Returning customers to the high street.</div>
            <div class="banner-caption">Supporting local business.</div>
        </div>
    </div>
    <div id="map-div">
        <div id="map"
        style="width: 55vw; height: 350px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="input-group">
                <input type="text" class="form-control" aria-label="Text input with dropdown button" placeholder="Search for products">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categories</button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Shops</a>
                        <a class="dropdown-item" href="#">Items</a>
                        <a class="dropdown-item" href="#">Food</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="nearby-shops-row">
    <div class="nearby-shops-title">How it works</div>
</div>
<%= render 'components/how-it-works' %>
<div class="nearby-shops-row">
    <div class="nearby-shops-title">Nearby shops</div>
</div>
<div id="local-shops-scroll-div">
    <% if @nearbyshops.length > 0 %>
        <% @nearbyshops[0..20].each do |shop| %>
            <div class="shops-scroll-item">
                <%= image_tag("heroimage.jpg", class: "shop-card-image") %>
                <div class="shop-scroll-name"><%= shop.name %></div>
                <div class="shop-scroll-category"><%= shop.category %></div>
                <div class="shop-scroll-category"><%= (Geocoder::Calculations.distance_between([@location.latitude, @location.longitude], [shop.latitude, shop.longitude]).round(2)) %> miles away</div>
            </div>
        <% end %>
    <% else %>
        <div id="no-shops-nearby">No shops nearby</div>
    <% end %>
</div>
<div class="nearby-shops-row">
    <div class="nearby-shops-title">Nearby products</div>
</div>

<div class="product-card">
    <div class="product-card-image-div">
        <%= image_tag("heroimage.jpg", class: "product-card-image") %>
        <div class="product-container">
            <h4><b>John Doe</b></h4>
            <p>Architect & Engineer</p>
        </div>
    </div>
</div>
<!-- <div id="local-products-div">
    <% if @nearbyshops.length > 0 %>
        <% @nearbyshops[0..10].each do |shop| %>
            <% if shop.products.length > 3 %>
                <% shop.products[0..2].each do |product| %>
                    <div class="card product-card" style="width: 18rem;">
                        <img class="card-img-top" src="..." alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title product-title"><%= product.name %></h5>
                            <p class="card-text product-text"><%= shop.name %></p>
                            <p class="card-text"><%= product.price %></p>
                        </div>
                    </div>
                <% end %>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
<div class="nearby-shops-row">
    <div class="nearby-shops-title">Recent blog posts</div>
</div>
<div id="recent-blog-posts">
    <% if @blogposts.length > 0 %>
        <% @blogposts[0..6].each do |blogpost| %>
            <%= render 'blogposts/show', blogpost: blogpost %>
        <% end %>
    <% else %>
        <div class="no-shops-nearby">No shops nearby</div>
    <% end %>
</div>
