<div id="banner-and-map">
    <div id="banner-banner">
        <div id='banner-caption-div'>
            <div class="banner-caption">Returning customers to the high street.</div>
            <div class="banner-caption">Supporting local business.</div>
        </div>
    </div>
    <div id="map-div">
        <div id="map"
        style="width: 55vw; height: 350px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
        </div>
    </div>
</div>
<div id="nearby-shops-row">
    <div id="nearby-shops-title">Nearby shops</div>
</div>
<div id="local-shops-scroll-div">
    <% @nearbyshops[0..20].each do |shop| %>
        <div class="shops-scroll-item">
            <div class="shop-scroll-name"><%= shop.name %></div>
            <div class="shop-scroll-category"><%= shop.category %></div>
            <div class="shop-scroll-category"><%= Geocoder::Calculations.distance_between([@location.latitude, @location.longitude], [shop.latitude, shop.longitude]) %> miles away</div>
        </div>
    <% end %>
</div>
