<!DOCTYPE html>
<html>
  <head>
    <title>BuscoNew</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css" />
  </head>

  <body>
    <!-- <%= request.location.city %> -->
    <%= render 'shared/flashes' %>
    <!-- <%= render 'shared/navbar' %> -->
    <%= yield %>
  </body>
</html>
